.info_container{
    width: 20%;
  
    display: flex;
    margin-left: 15%;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {
    .info_container{
        display: none;
    }
}